<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Market To Trade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assets" routerLinkActive="active">Assets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ng-container>
      <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
        <a class="nav-link" routerLink='/errors' routerLinkActive='active' >Errors</a>
    </li>
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <img src="{{member.photoUrl}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.knownAs}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink='/member/edit'>Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink='/asset/edit'>Edit announcement</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="row ms-auto" (ngSubmit)="login()" autocomplete="off">
      <input class="col form-control me-sm-2"
             type="text"
             placeholder="Username"
             name="username"
             [(ngModel)]="model.username">
      <input class="col form-control me-sm-2"
             type="password"
             placeholder="Password"
             name="password"
             [(ngModel)]="model.password">
      <button class="btn btn-success col ms-2 ms-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
